body
{
    color:blueviolet;
    text-align: left;
    font-family: "Alial";
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgba(133, 130, 130, 0.329);
    margin: 0 auto;
}
#container h1
{
    font-size: 50px;
}
